{% extends 'base.html' %}


{% block body %}

<img src="{{ people.profile.profile_image.url }}" style="width:100px; height:100px; border-radius: 50%;">


<h1>{{ people.username }}

{% if user in people.followers.all %}
<a href="{% url 'accounts:follow' people.id %}" class="btn btn-primary">Follow</a>
{% else %}
<a href="{% url 'accounts:follow' people.id %}" class="btn btn-outline-primary">Unfollow</a>
{% endif %}
</h1>

<p>{{ people.last_name }} {{ people.first_name }}</p>
<p><strong>{{ people.profile.nickname }}</strong></p>
<p>{{ people.followers.count }}</p>


<p>
  {{ people.profile.description }}
</p>

{% if user == people %}
<a href="{% url 'accounts:update' %}" class="btn btn-info">회원정보 수정</a>
{% endif %}

{% if user == people %}
<a href="{% url 'accounts:password' %}" class="btn btn-info">비밀번호 수정</a>
{% endif %}

{% if user == people %}
<a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원 탈퇴</a>
{% endif %}

<div class="row mt-3">
  {% for post in people.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid">
    </div>
  {% endfor %}
</div>


{% endblock %}