{% extends 'base.html' %}


{% block body %}
<h1>{{ people.username }}</h1>
<p>{{ people.last_name }} {{ people.first_name }}</p>
<p>
  <strong>{{ people.profile.nickname }}</strong>
</p>
<p>
  {{ people.profile.description }}
</p>

{% if user == people %}
<a href="{% url 'accounts:update' %}" class="btn btn-info">회원정보 수정</a>
{% endif %}

{% if user == people %}
<a href="{% url 'accounts:password' %}" class="btn btn-info">비밀번호 수정</a>
{% endif %}

{% if user == people %}
<a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원 탈퇴</a>
{% endif %}

<div class="row">
  {% for post in people.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid">
    </div>
  {% endfor %}
</div>


{% endblock %}